body{
    color: black;
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    width: 100%;
    height: 40px;
    background-color: blue;
}
#cabecera span:nth-child(1){
    font-size: 20px;
    margin-left: 10px;;
}
#contenedor-general{
    width: 70%;
    height: 100%;
    padding: 2em;
    border: 1px solid darkslateblue;
    margin: 0 auto;
    padding: 0;
}

#contenido-del-blog{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}   


#contenido-del-blog img{
    width: 500px;
    height: 300px;
    align-self: center;
    border-radius: 8px;
}

#contenido-del-blog a{
    align-self: center;
}

#contendor-imagen {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
}

#contendor-imagen a{
    align-self: flex-start;
}
#contenido-del-blog ol{
    align-self: flex-start;
}

#contenido-del-blog p{
    align-self: flex-start;
}
#contenido-del-blog ul{
    align-self: flex-start;
}